*{
    margin: 0;
    padding: 0;
    font-family: "SN Pro", sans-serif;
}

html{
    font-size: 100%;
}

body{
    background-color: #efefefef;
}

hr{
    margin-top:25px;
}

/* header{
    background-image: linear-gradient(90deg,rgba(106, 73, 40, 0.69) 100%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%),url(img/coffeBackground.jpg);
 para que no se repita en mosaico 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
} */

a{
    text-decoration: none;
    color: #FFFFFF;
}

nav{
    background: linear-gradient(90deg,rgba(106, 73, 40, 0.98) 100%, rgba(46, 30, 30, 1) 100%, rgba(237, 221, 83, 1) 100%); color:#FFF;
    display: flex;
    /* Para que el nav se quede bloqueado */
    position:fixed;
    /* top:0; */
    z-index: 1000;
    min-width: 100%;
}

nav a:hover{
    color: rgb(236, 181, 125) ;
}

#h1Nav{
    margin-left: 15px;
    margin-top: 5px;
    font-size: 40px;
}

ul{
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    list-style-type: none;
}

li{
    margin-right: 30px;
    font-size: 25px;
}

.inicio{
    color: #FFFFFF;
    /* text-align: center; */
    font-size: 100px;
    margin-top: 30vh;
}

/*  crear el nav fixed fue un problema, trate de usar sticky pero solo se quedaba
    fijo en el header, luego tuve que jugar mucho con las propiedades para que usando 
    fixed la pagina no se rompa
*/

.container{
    margin-left: 35vw;
    float: left;
}

.inicio2{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
}

/* section */

.origen{
    color: #000;
    /* 
    Esto lo colocaremos en el p directamente para que no afecte la img
    padding: 30px 950px 30px 30px;  
    */
}

.uniforme{
    font-size: 20px;
    padding-right: 950px;
    padding-left: 30px;
}

.origen h1{
    font-size: 50px;
    margin-bottom: 20px;
    padding: 30px 950px 30px 30px;
}


#coffeeEthiopian{
    float: right;
    margin-right: 150px;
    width: 70vh;
}

.titulos{
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 20px;
    padding: 30px 950px 30px 30px;
}

/* Mayor consumidor */



.carruselDad{
    position:relative;
    max-width: 800px;
    margin: 0 auto;
    float: right;
    margin-right: 50px;
}

.carrusel{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
}

.carrusel img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.carrusel-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.carrusel-nav a{
    width: .5rem;
    height: .5rem;
    border-radius: 20%;
    background-color: #FFFFFF;
    opacity: .75;
    transition: opacity ease 250ms;
}

.carrusel-nav a:hover{
    opacity: 100%;
}

/* Max exportador */

.videoBr{
    float: right;
    margin-right: 150px ;
    margin-top: 30px;
    height: 80vh;
}

/*footer*/

footer img{
    width: 50px;
}

footer .redes{
    display: flex;
}

.redes{
    display: flex;
}

.redes ul{
    margin-top: 25px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding:25px;
    font-size: 15px;
}

footer li{
    transition: transform 0.6s ease-in-out;
}

footer li:hover{
    transform: rotate(360deg);
}
